<% include ./partials/header.ejs %>

    <div class = "jumbotron bg-info">
        <h1 class = "display-4 text-light"> My Account</h1>
        <p class = "text-light lead">Your Member Profile</p>
    </div>
    <div class = "container">
  <div class="card" style="width: 20rem;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png" class="card-img-top" alt="edit">
  <div class="card-body">
    <p class="h3">Anu</p>
    <p class="h4"><i class="fas fa-map-pin"></i>  Atlanta,Ga</p>
    <p class="card-text">joined:August 29 2019</p>
  </div>
   <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href = "#">Change password</a></li>
    <li class="list-group-item"><a href = "/stats">My Vehicles</a></li>
     <li class="list-group-item"><a href = "/gaslog">My Log</a></li>
  </ul>
</div>
</div>