<!DOCTYPE html>
<html lang = 'eng'>
    <head>
    <link href = "app.css" rel = "stylesheet">
     <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
     </script>
</head>
<body>
    <header>
    <h1>Todo<span>List</span></h1>
    <h2>A simple todo list app built with node</h2>
    </header>
    <section class = 'form'>
        <input type = "text" id = "todoInput" name = "name" placeholder="Insert your todo list">
    </section>
    <ul class = "list">
    </ul>
<script type = "text/javascript" src= "app.js"></script>
</body>
</html>
